
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    font-size: 20px;
}

.card {
    width: 300px;
    height: 300px;
    background: blueviolet ;
    padding: 50px; /*interno*/
    margin: 30px; /*externo*/
    /*border: 5px solid #000;*/
    border-width:  5px;
    border-top: 2px;
    border-bottom: 3px;
    border-color: #000;
    border-style: solid;
    /*arriba, derecha-izquierda, abajo*/
    margin: 20px 20px 20px;
    /*arriba-abajo, derecha-izquierda*/
    margin: 20px 20px;
}

.card__margin {
    width: 300px;
    height: 300px;
    background-color: crimson ;
    
}

p{
    font-size: 3rem; /* 3 * 16 = 48px*/
}