:root{
    --absolute_bg_box : crimson;
    --relative_bg_box:  violet;
    --fixed_bg_box:lavender;
    --static_bg_box:khaki
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 500vh;
}

.container{
    width: 90%;
    margin: 40px auto;
    border: 4px solid ;
    min-height: 500px;
    position: relative;
}

.element{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.static{
    background-color: var(--static_bg_box);
}

.relative{
    background-color: var(--relative_bg_box);
    position: relative;
    left: 30px;
    z-index: 100;
}

.absolute{
    position: absolute;
    background-color: var(--absolute_bg_box);
    top: 70px;
    left: 100px;
    z-index: 200;
}

.fixed{
    background-color: var(--fixed_bg_box);
    position: fixed;
    top: 80px;
    z-index: 300;
}