*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #6633993f;
}

.book {
    width: 500px;
    height: 600px;
    margin: 20px auto;
    background-color: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 10px 5px 5px 0 #00000054;
    padding-top: .1px;
}

.book__line {
    width: 80%;
    height: 2px;
    color: #1e90ff;
    margin:  auto;
    margin-top: 80px;
    background-color: #1e90ff;
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px, 0 360px, 0 400px, 0 440px;
}