/*Selector de atributo*/

/*Elementos que tengan una clase*/
[class] { 
    background-color: yellow;
}

[value~="cursocss.com"] { /*que contenga x valor*/
    display: block;
    width: 90%;
    margin-top: 20px;
    color: green;
}

[value] {
    display: block;
    width: 90%;
    margin-top: 20px;
    color: brown;
}




[value^="cursocss.com"] { /*que comience x valor*/
   color: aqua;
}


[value$="cursocss.com"] { /*que termine x valor*/
   color: brown;
}

[valu*="cursocss.com"] { /*que lo contenga*/
   color: brown;
}

[type="submit"] {
    background-color: yellow;
}